@tailwind base;
@tailwind components;
@tailwind utilities;


.two-backgrounds {
    position: relative;
    overflow: hidden;
  }
  
  .two-backgrounds::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    background-color: #17212E; /* First color */
    z-index: 0;
  }
  
  .two-backgrounds::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30%;
    height: auto;
    background-color: #F5CF6B; /* Second color */
    z-index: 1;
  }
  
  .two-backgrounds > * {
    position: relative;
    z-index: 2;
  }